.breadcrumb
    width 100%
    align-items center

    &__item
        display flex
        justify-content center
        align-content center
        color #555

    .fa
        margin 0 .5em
        display flex;
        align-items: center;
