.breadcrumb
    width 100%
    align-items center
    display flex
    font-family 'Raleway'
    color #00b1b7

    &__item
        display flex
        justify-content center
        align-content center

        &:hover
            cursor pointer

    &__item:last-child
        color #666

    &__separator
        min-width 10px
        text-align center
        margin 0 5px
