.breadcrumb
    width 100%
    align-items center
    display flex
    font-family 'Raleway'
    color #666

    &__item
        display flex
        justify-content center
        align-content center

        &:hover
            cursor pointer
            color #9779d5

    &__separator
        min-width 10px
        text-align center
