.color-list
    margin 1em 0
    display flex

    .color-item
        margin-right 5px
        height 50px
        width 50px
        border-radius 50%
        border 1px solid #eaeaea

        &:hover
            cursor pointer
            border-color #000
