@font-face {
    font-family: 'Cookie';
    src: url('../fonts/cookie-regular.ttf');
}

@font-face {
    font-family: 'monserrat';
    src: url('../fonts/monserrat.woff2');
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}

