@import 'config'

.footer
    background-color $color-tertiary

    &__wrapper
        max-width 1280px
        margin 0 auto
        padding 1em

    &__section
        color #666

        &__header
            color #111
            margin-bottom 1em
            font-weight bold

        &__icons
            display flex

            .circle-icon
                background-color #e1e1e1
                height 40px
                width 40px
                display flex
                justify-content center
                align-items center
                width value
                margin-right 5px
                color #111

    &__title
        margin-bottom 1em

    &__copyright
        color #666
        text-align center

    .grid
        grid-gap 4em


@media screen and (min-width 1024px)
    .footer
        padding 0
        margin 4em auto 1em

