.footer
    display grid
    border-top 1px solid #ebebeb
    color #666
    font-family "Raleway"
    padding-top 50px
    margin-top 100px

    &__detail
        border-bottom 1px solid #ebebeb
        padding 3em 1em

    &__category
        padding-bottom 2em

        &__title
            font-weight bold
            text-transform uppercase
            font-family "MavenPro Regular"
            color #444
            margin-bottom 15px

        &__item
            padding 8px 0

            &:hover
                cursor pointer


    &__copyright
        text-align center
        padding 1em

@media screen and (min-width 1024px)
    .footer
        padding-top 50px
        margin-top 100px

        &__detail
            display grid
            grid-template-columns repeat(4, 1fr)
            border-bottom 1px solid #ebebeb
            padding 3em 0

        &__copyright
            text-align center

