.icon
    width 40px
    height 40px
    display flex
    align-items center
    justify-content center
    background-size contain

    &--steam
        background-image url('../images/steam-logo.png')

    &--windows
        background-image url('../images/windows-logo.png')

    &--apple
        background-image url('../images/apple-logo.png')

    &--linux
        background-image url('../images/linux-logo.png')

    &--steam-white
        background-image url('../images/steam-logo-white.png')

    &--windows-white
        background-image url('../images/windows-logo-white.png')

    &--apple-white
        background-image url('../images/apple-logo-white.png')

    &--linux-white
        background-image url('../images/linux-logo-white.png')

