.pod
    min-height 280px

    &__img
        img
            width 100%
            object-fit cover

    &__name
        text-align center
        padding 1em
        color #666
        font-family 'MavenPro Regular'
        font-weight bold

    &:hover
        cursor pointer
