.size-list
    margin 1em 0
    display flex

    .size-item
        margin-right 5px
        height 40px
        width 40px
        border-radius 3px
        border 1px solid #eaeaea
        display flex
        align-items center
        justify-content center
        background-color rgb(249, 249, 249)
        color rgb(136, 136, 136)

        &--active
            background-color #444
            color white

        &:hover
            cursor pointer
            border-color #000
