.wrapper {
    position: relative;
}

.content {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.box {
    width: 90%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.image {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}


@media (min-width: 768px) {
    .image {
        width: 100%;
    }
}
