@require 'index'

html
    font-size 14px

*
    box-sizing border-box

@font-face
    font-family 'Poppins'
    src url('../fonts/Poppins-Regular.ttf')
    font-display swap

@font-face
    font-family 'Poppins-Bold'
    src url('../fonts/Poppins-Bold.ttf')
    font-display swap

body
    color #1e293b;
    font-family 'Poppins'
    font-size 1em
    border 0
    padding 0
    margin 0
