@import 'ui/config'
@import 'ui/navbar'
@import 'ui/footer'
@import 'ui/family-fonts'

.carousel-root
    .slide
        &> div
            height 640px

        img
            height 100%
            width 100%
            object-fit cover

.page
    background-color $color-primary

    &__wrapper
       max-width 1280px
       margin 0 auto

    &__slider
        margin 1em 0


.pod-list
    display grid
    grid-template-columns repeat(5, 1fr)
    gap 1em

.pod
    position relative

    &__shadow
        background-color rgba(0, 0, 0, .5)
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        z-index 1
        display flex
        justify-content center
        align-items center

        .sticker
            padding 1em
            background-color $color-tertiary
            color white
            border 1px solid white

        &:hover
            cursor not-allowed


    &__header
        position relative
        min-height 250px
        background-color white

        &__icon
            position absolute
            left .5em
            top .5em

        img
            height 250px
            width 100%
            object-fit cover

    &__body
        font-family 'monserrat'
        min-height 100px
        background-color $color-tertiary
        padding 1em
        color white

        &__name
            font-size .8em
            margin-bottom .5em
            min-height 40px

        &__quantity
            font-family 'monserrat'
            font-size .8em
            font-weight bold

        &__price
            font-family 'monserrat'
            color $color-secondary
            font-size 1.2em

            &-before
                font-size 1em
                text-decoration line-through
                color #e37f92

.title
    font-family 'monserrat'
    color white
    margin 2em 0 1em
    border-bottom 2px dotted white











.banner
    width 100%
    font-family 'monserrat'

    .background-img
        background-repeat no-repeat
        background-position center
        background-size cover
        height 50vw
        margin-bottom 1em

        &__main
            height calc(100vh - 90px)

        &__1
            background-image url('../images/category-1.jpg')

        &__2
            background-image url('../images/category-2.jpg')

        &__3
            background-image url('../images/category-3.jpg')

        &__4
            background-image url('../images/category-4.jpg')

        &__5
            background-image url('../images/category-5.jpg')

        .float-text
            height 100%
            width 100%
            display flex
            justify-content center
            align-items center
            padding 0 1em 0

            .text
                width 100%

                &__title
                    font-family 'Cookie'
                    font-size 3em
                    margin-bottom 1em

                &__description
                    color #666666
                    font-weight 400
                    font-family "Montserrat", sans-serif
                    max-width 500px



@media screen and (min-width 1024px)
    .banner
        .background-img
            margin-bottom 0
            height auto
