@import 'ui/navbar'
@import 'ui/footer'
@import 'ui/config'
@import 'ui/breadcrumb'
@import 'ui/gallery'
@import 'ui/family-fonts'
@import 'ui/color'
@import 'ui/size'
@import 'ui/quantity'



.product-detail
    color white


.platform
    margin-top 3em

    &-section
        display flex

        &__item
            width 50px
            margin-right .5em

            .icon
                margin 0 auto

.requeriments
    font-family 'monserrat'
    color white
    min-height 300px
    margin 4em 0
    display flex
    justify-content center
    align-items center
    background-color $color-tertiary
    padding 2em

    .item-wrapper
        display flex
        justify-content space-between

    &__wrapper
        min-width 900px
        max-width 1000px

    &__item
        font-weight bold
        font-size 1.2em

    &__value
        font-size 1.2em




.pdp
    color white
    overflow hidden

    &__detail
        padding 1em

        &__title
            font-weight bold
            font-size 24px

        &__brand
            // color #444
            font-weight 400
            font-size 14px
            margin-bottom 1em

        &__stars
            margin-bottom 1em

            .fa
                color #e3c01c

        &__price
            font-size 30px
            font-weight 600
            margin-bottom 30px

        &__description
            margin-bottom 28px

    &-options
        display flex
        align-items center
        justify-content space-between





@media screen and (min-width 1024px)
    .product-detail
        display grid
        grid-template-columns repeat(2, 1fr)

    // .pdp


    //     padding 1em 100px
    //     display grid
    //     grid-template-columns repeat(2, 1fr)
    //     grid-template-rows repeat(1, 40vw)
    //     gap 1em

    //     &__detail
    //         padding 0


