@import 'ui/navbar'
@import 'ui/footer'
@import 'ui/config'
@import 'ui/breadcrumb'
@import 'ui/pod'

@media screen and (min-width 1024px)
    .plp
        max-width 1240px
        margin 0 auto
        display grid
        grid-template-columns repeat(4, 1fr)
        grid-gap 1em


