@import 'ui/navbar'
@import 'ui/footer'
@import 'ui/config'
@import 'ui/form'

.form__container
    margin-top 2em
    height 100%
    width 100%
    display flex
    align-items center
    justify-content center

    .form
        width 500px
        padding 3em 1em
        text-align center

        &__title
            color #333
            padding-bottom 2em
            border-bottom 1px solid #e1e1e1
            margin-bottom 1em
            font-weight bold
            font-size 20px

        &__section
            color #333
            text-align left
