{% load static %}

<footer class="footer">
    <div class="footer__wrapper">
        <div class="grid grid-3">
            <div class="footer__section">
                <div class="footer__section__header">
                    <img src="{% static 'images/logo.png' %}" />
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt cilisis.</div>
            </div>

            <div class="grid grid-2">
                <div class="footer__section">
                    <div class="footer__section__header">ENLACES RÁPIDOS</div>
                    <a><div>Inicio</div></a>
                    <a><div>Productos</div></a>
                </div>
                <div class="footer__section">
                    <div class="footer__section__header">CUENTA</div>
                    <a><div>Mi cuenta</div></a>
                    <a><div>Mis compras</div></a>
                    <a><div>Carrito</div></a>
                    <a><div>Favoritos</div></a>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section__header">REDES SOCIALES</div>
                <div class="footer__section__icons">
                    <div class="circle-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    <div class="circle-icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    <div class="circle-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>

        <hr />

        <div class="footer__copyright">
            <div>Copyright © todos los derechos reservados</div>
        </div>
    </div>
</footer>
