{% load static %}

<script>
    function onHandlerMenu(event) {
        const menu = document.querySelector('#menu');
        if(!event.target.id) return;

        if(menu.classList.length == 1) {
            menu.classList.add('menu-wrapper--active');
        } else {
            menu.classList.remove('menu-wrapper--active');
        }
    }

    function onCloseSession() {
        window.sessionStorage.removeItem('uuid');
        window.location.assign('/api/auth/logout');
    }
</script>

<navbar class="navbar">
    <div class="navbar__mobile-logo">
        <a href="/"><img src="{% static 'images/logo.png' %}" /></a>
    </div>

    <div id="menu" class="menu-wrapper" onclick="onHandlerMenu(event)">
        <div class="menu">
            <div class="menu__logo">
                <a href="/"><img src="{% static 'images/logo.png' %}" /></a>
            </div>

            <div class="menu__list">
                <div class="options">
                    <!-- <a href="/"><div class="menu__list__option">Inicio</div></a>
                    <a href="/productos"><div class="menu__list__option">Productos</div></a> -->
                </div>

                <div class="panel">
                    <div class="menu__login">
                        {% if is_logged %}
                            <a href="/perfil">{{ session_information.firstName }}</a> / <span class="nav-hovered" onclick="onCloseSession()">Cerrar Sesión</span>
                        {% else %}
                            <a href="/login">Iniciar sesión</a> / <a href="/register">Registro</a>
                        {% endif %}
                    </div>

                    <div class="item-list">
                        <div class="icon__container">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>

                        <div class="icon__container">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>

                        <a href="/carrito">
                            <div class="icon__container">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-icon" class="menu-wrapper__icon" onclick="onHandlerMenu(event)">
        <i id="menu-icon-element" class="fa fa-bars" aria-hidden="true"></i>
    </div>
</navbar>
